
set clipboard+=unnamed
set showmode
map <C-t><k> :tabr<cr>
map <C-t><j> :tabl<cr>
map <C-t><h> :tabp<cr>
map <C-t><l> :tabn<cr>
nnoremap <esc><esc> :nohls<cr>

" ---------------
" Searching
" ---------------
set ignorecase " Case insensitive search
set smartcase  " Non-case sensitive search
set incsearch  " Incremental search
set hlsearch   " Highlight search results
set wildignore+=*.o,*.obj,*.exe,*.so,*.dll,*.pyc,.svn,.hg,.bzr,.git,
  \.sass-cache,*.class,*.scssc,*.cssc,sprockets%*,*.lessc,*/node_modules/*,
  \rake-pipeline-*
