let mapleader = ","

vmap s S

nmap L $
vmap L $
nmap H ^
vmap H ^
nmap Y v$y
vmap Y $y

nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk

nnoremap x "_x
vnoremap x "_x
nnoremap X x
vnoremap X x

" s will be used to control windows and tabs
nnoremap s <Nop>
vnoremap s <Nop>

nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l
nnoremap sh <C-w>h

nnoremap s- <C-w>-
nnoremap s+ <C-w>+
nnoremap s> <C-w>>
nnoremap s< <C-w><

nnoremap ss :<C-u>sp<CR>
nnoremap sv :<C-u>vs<CR>

nnoremap st :<C-u>tabnew<CR>
nnoremap sT <C-w>T
nnoremap sn gt
nnoremap sp gT

nmap == gg=G

nmap <leader>vr :sp $MYVIMRC<cr>
nmap <leader>so :source $MYVIMRC<cr>

