let mapleader = ","

vmap s S

nmap L $
nmap H ^
nmap Y $y

nmap j gj
nmap k gk

nnoremap <Down> gj
nnoremap <Up>   gk
vnoremap <Down> gj
vnoremap <Up>   gk

nmap x "_x
nmap X x

" s will be used to control windows and tabs
nmap s <Nop>

nmap sj <C-w>j         
nmap sk <C-w>k
nmap sl <C-w>l
nmap sh <C-w>h

nmap s- <C-w>-
nmap s+ <C-w>+
nmap s> <C-w>>
nmap s< <C-w><

nmap ss :<C-u>sp<CR>
nmap sv :<C-u>vs<CR>

nmap st :<C-u>tabnew<CR>
nmap sT <C-w>T
nmap sn gt
nmap sp gT

nmap == gg=G

nmap <leader>vr :sp $MYVIMRC<cr>
nmap <leader>so :source $MYVIMRC<cr>

