let mapleader = " "

vmap s S

map <S-l> $
map <S-h> ^

nmap Y v$y
vmap Y $y

nnoremap x "_x
vnoremap x "_x
nnoremap X x
vnoremap X x

" s will be used to control windows and tabs
nnoremap s <Nop>
vnoremap s <Nop>

nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

nnoremap s- <C-w>-
nnoremap s+ <C-w>+
nnoremap s> <C-w>>
nnoremap s< <C-w><

nnoremap ss :<C-u>sp<CR>
nnoremap sv :<C-u>vs<CR>

nnoremap st :<C-u>tabnew<CR>
nnoremap sT <C-w>T
nnoremap <A-l> gt
nnoremap <A-h> gT

nmap == gg=G

nmap <leader>vr :sp $MYVIMRC<cr>
nmap <leader>so :source $MYVIMRC<cr>

